@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  background-color: #EFF0E1;
  padding: 0 2rem;
}

.nav__wrapper .nav__logo {
  cursor: pointer;
  width: 7rem;
  height: auto;
}

.nav__wrapper .nav__menu .nav__menu--img {
  cursor: pointer;
}

.section1__wrapper {
  position: relative;
  height: 90vh;
}

.section1__wrapper .hero__img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.4)), to(rgba(255, 255, 255, 0.3))), url(./../assets/images/learning3.jpg) center center no-repeat;
  background: linear-gradient(rgba(26, 26, 26, 0.4), rgba(255, 255, 255, 0.3)), url(./../assets/images/learning3.jpg) center center no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-bottom-left-radius: 1.5rem;
}

.section1__wrapper .hero__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65%;
  padding: 0 0 2rem 2rem;
}

.section1__wrapper .hero__content .hero__text {
  padding-bottom: 1.4rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #325D79;
}

.section1__wrapper .hero__content .hero__button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #64CB99;
  color: #fff;
}

.identity__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #E3F4FF;
  margin: 1rem;
  padding: 1.3rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0;
}

.identity__wrapper .identity__textbox {
  padding: 1rem 0;
  color: #325D79;
}

.identity__wrapper .identity__textbox .identity--title {
  padding-bottom: 1rem;
}

.identity__wrapper .identity__textbox .identity--text {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.identity__wrapper .identity__imgbox img {
  border-radius: 1.2rem 1.2rem 1.2rem 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 599px) {
  .new--box {
    display: block;
    height: 55rem;
  }
}

.offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #DBFFEE;
  margin: 1rem;
  padding: 1.3rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0;
}

.offer__wrapper .offer__textbox {
  padding: 1rem 0;
  color: #325D79;
}

.offer__wrapper .offer__textbox .offer--title {
  padding-bottom: 1rem;
}

.offer__wrapper .offer__textbox .offer--text {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.offer__wrapper .offer__textbox .offer--text span {
  font-weight: bold;
}

.mockup_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.8rem 1rem 1.8rem;
}

@media screen and (max-width: 599px) {
  .mockup_wrapper {
    position: relative;
    top: -5rem;
  }
}

.mockup_wrapper .mockup--text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: end;
  font-size: 1.4rem;
  font-weight: 500;
  color: #325D79;
}

.mockup_wrapper .mockup--text span {
  padding: 0.2rem 0.5rem;
  background-color: #E3F4FF;
  border-radius: 1.5rem 1rem 1rem 0;
}

.mockup_wrapper .container-mockup {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: auto;
}

.mockup_wrapper .container-mockup img {
  width: 100%;
  height: 100%;
}

.community__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2rem 1rem 2rem;
}

.community__wrapper .community__textbox {
  color: #325D79;
}

.community__wrapper .community__textbox .community--title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.community__wrapper .community__textbox .community--text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.community__wrapper .community__textbox .community--text span {
  color: #64CB99;
  font-weight: 500;
}

.community__wrapper .card__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 300px;
  gap: 1rem;
}

.community__wrapper .card__wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 19rem;
}

.community__wrapper .card__wrapper .card .container--imgcard {
  position: relative;
  width: 100%;
  height: 200px;
}

.community__wrapper .card__wrapper .card .container--imgcard img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
}

.community__wrapper .card__wrapper .card .card__content {
  padding: 1rem;
  background-color: #BAEDD4;
  border-bottom-right-radius: 1.5rem;
  color: #325D79;
}

.community__wrapper .card__wrapper .card .card__content .card--work {
  font-size: 0.9rem;
  font-weight: 500;
}

.community__wrapper .card__wrapper .card .card__content .card--description {
  margin-top: .5rem;
  font-size: .8rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
/*# sourceMappingURL=style.css.map */