@mixin boxSections($color) {
  display: flex;
  flex-direction: column;
  background-color: $color;
  margin: 1rem;
  padding: 1.3rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0;
}

@mixin boxSectionsDesktop($color) {
  display: flex;
  justify-content: space-between;
  background-color: $color;
  margin: 2rem 4rem;
  padding: 1.3rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0;
}
