@mixin boxSections($color) {
  display: flex;
  flex-direction: column;
  background-color: $color;
  margin: 1rem;
  padding: 1.3rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0;
}

@mixin boxSections__contact($color) {
  display: flex;
  flex-direction: column;
  background-color: $color;
  padding: 2.3rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

@mixin boxSections__contact--desktop($color) {
  display: flex;
  flex-direction: column;
  background-color: $color;
  padding: 2.3rem 0 4.5rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

@mixin boxSectionsDesktop($color) {
  display: flex;
  justify-content: space-between;
  background-color: $color;
  margin: 2rem 4rem;
  padding: 1.3rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}
