.identity__wrapper {
@include boxSections($very-light-blue);
  @media screen and (min-width: 1200px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    .identity__textbox {
      padding: 1rem 0;
      color: $dark-blue;
      .identity--title {
        padding-bottom: 1rem;
      }
      .identity--text {
        line-height: 1.5rem;
        padding-bottom: 1rem;
      }
    }
    .identity__imgbox {
      img {
        border-radius: 1.2rem 1.2rem 1.2rem 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.identity__wrapper__desktop {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px){
    @include boxSections__desktop($very-light-blue);
    .identity__textbox {
      padding: 2.5rem 3rem 2.5rem 3rem;
      color: $dark-blue;
      .identity--title {
        padding-bottom: 1rem;
      }
      .identity--text {
        line-height: 1.5rem;
        padding-bottom: 1rem;
      }
    }
    .identity__imgbox {
      img {
        border-radius: 1.2rem 1.2rem 1.2rem 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
