.mockup_wrapper {
  display: flex;
  align-items: center;
  @media screen and (max-width: 599px){
    position: relative;
    top: -5rem;
  }
  margin: 0 1.8rem 1rem 1.8rem;
  .mockup--text {
    flex: 1;
    text-align: end;
    font-size: 1.4rem;
    font-weight: 500;
    color: $dark-blue;
    span {
      padding: 0.2rem 0.5rem;
      background-color: $very-light-blue;
      border-radius: 1.5rem 1rem 1rem 0;
    }
  }
  .container-mockup{
    flex: 1;  
    width: 100%;
    height: auto;
      img {
        width: 100%;
        height: 100%;
      }
  }
}
