// mobile styles
.wrapper-navmobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: $cream;
  padding: 0 3rem;
  .nav__logo {
    cursor: pointer;
    width: 7rem;
    height: auto;
  }
  .nav__menu {
    .nav__menu--img {
      cursor: pointer;
    }
  }
}
.wrapper-navdesktop {
  display: none;
}

// desktop styles
@media (min-width: 1100px) {
  .wrapper-navmobile {
    display: none;
  }
  .wrapper-navdesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cream;
    height: 3.5rem;
    padding: 0 3rem;
    .nav__logo {
      cursor: pointer;
      width: 7rem;
      height: auto;
    }
    .nav__ul {
      li {
        display: inline-block;
        list-style-type: none;
        padding: 0 1rem;
        .a--offer {
          color: $dark-green;
        }
        .a--getstarted {
          @include boxSections($dark-green);
          padding: 0.5rem 1.3rem;
          color: #ffffff;
        }
        a {
          font-size: 1.1rem;
          font-weight: 500;
          text-decoration: none;
          color: $dark-blue;
        }
      }
    }
  }
}
