// mobile styles
.wrapper-navmobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: $cream;
  padding: 0 3rem;
  .nav__logo {
    cursor: pointer;
    width: 7rem;
    height: auto;
  }
  .nav__menu {
    .nav__menu--img {
      cursor: pointer;
    }
  }
}
.wrapper-navdesktop {
  display: none;
}
